Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{md}": "markdownlint --fix --ignore-path .gitignore"
}

feat(lazy-blocks): add the AdvantagesDisadvantages
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.js
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.module.scss
  src/components/lazy-blocks/advantages-disadvantages/images/check.inline.svg
  src/components/lazy-blocks/advantages-disadvantages/images/uncheck.inline.svg
  src/components/lazy-blocks/advantages-disadvantages/index.js
Due: prettier --write, eslint --cache --fix

feat(lazy-blocks): add the GetStartedWithQuote component
  src/components/lazy-blocks/get-started-with-quote/get-started-with-quote.jsx
  src/components/lazy-blocks/get-started-with-quote/get-started-with-quote.module.scss
  src/components/lazy-blocks/get-started-with-quote/images/illustration.url.svg
  src/components/lazy-blocks/get-started-with-quote/images/quote.inline.svg
  src/components/lazy-blocks/get-started-with-quote/images/shape-1.inline.svg
  src/components/lazy-blocks/get-started-with-quote/images/shape-2.inline.svg
  src/components/lazy-blocks/get-started-with-quote/index.js
Due: prettier --write, eslint --cache --fix

fix(styles): add small adjustments
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.module.scss
  src/components/shared/heading/heading.jsx
  src/components/shared/heading/heading.module.scss
Due: prettier --write, eslint --cache --fix

feat(hooks): add the use-lazy-blocks
  src/hooks/use-lazy-blocks.js
  src/templates/page.jsx
Due: prettier --write, eslint --cache --fix

build: update the package-lock file
  package-lock.json
Due: none

fix(lazy-blocks): size images in the AdvantagesDisadvantages
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.js
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.module.scss
Due: prettier --write, eslint --cache --fix

feat: add styles for tables in the content
  src/styles/mixins/content.scss
Due: prettier --write

feat(components): add a tooltip for the AdvantagesDisadvantages
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.js
  src/components/lazy-blocks/advantages-disadvantages/advantages-disadvantages.module.scss
Due: prettier --write, eslint --cache --fix

chore: updated drone config
  .drone.yml
Due: none

feat: add new sections for Flagsmith homepage
  src/components/lazy-blocks/presentation-with-items/images/shape.svg
  src/components/lazy-blocks/presentation-with-items/index.js
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.jsx
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.module.scss
  src/hooks/use-lazy-blocks.js
Due: prettier --write, eslint --cache --fix

fix: grid content wrapper
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.module.scss
Due: prettier --write

refactor: changed the structure component, semantic
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.jsx
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.module.scss
Due: prettier --write, eslint --cache --fix

refactor: remove presentation with items component
  src/components/lazy-blocks/presentation-with-items/images/shape.svg
  src/components/lazy-blocks/presentation-with-items/index.js
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.jsx
  src/components/lazy-blocks/presentation-with-items/presentation-with-items.module.scss
Due: prettier --write, eslint --cache --fix

feat: add features in presentation component
  src/components/lazy-blocks/presentation/images/ab.svg
  src/components/lazy-blocks/presentation/images/checkbox.svg
  src/components/lazy-blocks/presentation/images/diagrams.svg
  src/components/lazy-blocks/presentation/images/flag.svg
  src/components/lazy-blocks/presentation/images/list.svg
  src/components/lazy-blocks/presentation/images/settings.svg
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
  src/hooks/use-lazy-blocks.js
Due: prettier --write, eslint --cache --fix

fix: remove temporary import in use-lazy-blocks
  src/hooks/use-lazy-blocks.js
Due: prettier --write, eslint --cache --fix

fix: added a check for null in features
  src/components/lazy-blocks/presentation/presentation.jsx
Due: prettier --write, eslint --cache --fix

refactor: remove console log :DD
  src/components/lazy-blocks/presentation/presentation.jsx
Due: prettier --write, eslint --cache --fix

refactor: minor changes
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
Due: prettier --write, eslint --cache --fix

fix: add inline postfix in inline svg
  src/components/lazy-blocks/presentation/images/ab.inline.svg
  src/components/lazy-blocks/presentation/images/checkbox.inline.svg
  src/components/lazy-blocks/presentation/images/diagrams.inline.svg
  src/components/lazy-blocks/presentation/images/flag.inline.svg
  src/components/lazy-blocks/presentation/images/list.inline.svg
  src/components/lazy-blocks/presentation/images/settings.inline.svg
  src/components/lazy-blocks/presentation/presentation.jsx
Due: prettier --write, eslint --cache --fix

fix: features null check
  src/components/lazy-blocks/presentation/presentation.jsx
Due: prettier --write, eslint --cache --fix

fix: margins, className, features null check
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
Due: prettier --write, eslint --cache --fix

fix: remove extra css properties
  src/components/lazy-blocks/presentation/presentation.module.scss
Due: prettier --write

refactor: minor changes
  src/components/lazy-blocks/presentation/images/checkbox.inline.svg
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
  src/components/pages/home/feature-flags/feature-flags.jsx
  src/components/pages/home/feature-flags/feature-flags.module.scss
  src/components/pages/home/feature-flags/images/ab-tests.inline.svg
  src/components/pages/home/feature-flags/images/flag.inline.svg
  src/components/pages/home/feature-flags/images/list.inline.svg
  src/components/pages/home/remote-config/images/check-mark.inline.svg
  src/components/pages/home/remote-config/images/range.inline.svg
  src/components/pages/home/remote-config/images/segments.inline.svg
  src/components/pages/home/remote-config/remote-config.jsx
  src/components/pages/home/remote-config/remote-config.module.scss
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

refactor: add small adjustments
  src/components/lazy-blocks/presentation/presentation.jsx
Due: prettier --write, eslint --cache --fix

refactor: delete unused code
  src/hooks/use-lazy-blocks.js
Due: prettier --write, eslint --cache --fix

fix(styles): columns for the FeatureFlags component
  src/components/pages/home/feature-flags/feature-flags.module.scss
Due: prettier --write

feat(styles): limit the width of the description in the Hero
  src/components/pages/home/hero/hero.module.scss
Due: prettier --write

Update github.inline.svg
  src/icons/github.inline.svg
Due: none

Update button.module.scss
  src/components/shared/button/button.module.scss
Due: prettier --write

chore: added asdf tool version and removed footer Pixelpoint
  .tool-versions
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

feat: form to pipedrive
  api/contact-us.js
  src/utils/send-gravity-form-data.js
Due: prettier --write, eslint --cache --fix

feat: correct contact-us function
  api/contact-us.js
Due: prettier --write, eslint --cache --fix

chore: add pipedrive dependency
  package-lock.json
  package.json
Due: none

chore: pipedrive
  package.json
Due: none
