Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{md}": "markdownlint --fix --ignore-path .gitignore"
}

fix(styles): adjust height & margin for image in Options
  src/components/pages/home/options/options.module.scss
Due: prettier --write

feat: add drone preview server deploymnet
  .drone.yml
  Dockerfile.preview
Due: none

fix: deploy preview confuguration
  .drone.yml
Due: none

chore: fix env variable name in .env.example
  .env.example
Due: none

fix: link to pixel point
  package-lock.json
  src/components/shared/footer/footer.jsx
Due: prettier --write, eslint --cache --fix

feat(components): add adaptive styles for lazy-blocks (#16)
  package-lock.json
  package.json
  src/components/lazy-blocks/cards/cards.module.scss
  src/components/lazy-blocks/features/features.jsx
  src/components/lazy-blocks/features/features.module.scss
  src/components/lazy-blocks/flags/flags.module.scss
  src/components/lazy-blocks/hero/hero.jsx
  src/components/lazy-blocks/hero/hero.module.scss
  src/components/lazy-blocks/logos/logos.module.scss
  src/components/lazy-blocks/presentation-without-illustration/presentation-without-illustration.module.scss
  src/components/lazy-blocks/presentation/presentation.module.scss
  src/components/lazy-blocks/quotation-carousel/quotation-carousel.jsx
  src/components/lazy-blocks/quotation-carousel/quotation-carousel.module.scss
  src/components/pages/home/feature-flags/feature-flags.module.scss
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/languages/languages.jsx
  src/components/shared/button/button.module.scss
  src/components/shared/header/header.module.scss
  src/components/shared/heading/heading.module.scss
  src/components/shared/rainbow-text/rainbow-text.module.scss
  src/styles/global.scss
  src/styles/mixins.scss
  src/styles/mixins/convert-br-into-space.scss
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

fix: typo inside flag features
  src/components/shared/feature-flags-illustration/images/popup.url.svg
Due: none

feat(components): integrate ContactForm with Gravity Forms (#15)
  package-lock.json
  src/components/pages/pricing/content/contact-form/contact-form.jsx
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/faq/faq.module.scss
  src/components/shared/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.module.scss
  src/components/shared/contact-form/images/shape-1.svg
  src/components/shared/contact-form/images/shape-2.svg
  src/components/shared/contact-form/index.js
  src/components/shared/input/input.module.scss
  src/styles/global.scss
  src/templates/page.jsx
  src/utils/send-gravity-form-data.js
Due: prettier --write, eslint --cache --fix

refactor(components): replace gatsby-image with gatsby-plugin-image (#17)
  gatsby-config.js
  package-lock.json
  package.json
  src/components/lazy-blocks/hero/hero.jsx
  src/components/pages/home/hero/features/state/state.jsx
  src/components/pages/home/hero/features/state/state.module.scss
  src/components/pages/home/hero/logos/logos.jsx
  src/components/pages/home/options/options.jsx
  src/components/pages/home/platform/platform.jsx
  src/components/pages/pricing/content/contact-form/contact-form.jsx
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/shared/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.module.scss
  src/components/shared/get-started/get-started.jsx
  src/images/pages/home/hero/features/state/illustration.jpg
  src/images/pages/home/hero/features/state/illustration.png
  src/images/pages/pricing/hero/contact-form/illustration.jpg
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat(components): add responsive styles for Options in Pricing
  src/components/pages/pricing/content/options/options.jsx
  src/components/pages/pricing/content/options/options.module.scss
Due: prettier --write, eslint --cache --fix

feat(styles): add small changes for Content in Pricing
  src/components/pages/pricing/content/content.module.scss
Due: prettier --write

fix(styles): add small changes for ContactForm in Pricing
  src/components/pages/pricing/content/contact-form/contact-form.module.scss
Due: prettier --write

fix: typo in remote config
  src/components/pages/home/remote-config/images/popup.url.svg
Due: none

feat(components): add Remote Config HTML illustration to lazy-block Presentation
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/pages/home/remote-config/remote-config.jsx
  src/components/pages/home/remote-config/remote-config.module.scss
  src/components/shared/remote-config-illustration/images/icon.inline.svg
  src/components/shared/remote-config-illustration/images/item-1.url.svg
  src/components/shared/remote-config-illustration/images/item-2.url.svg
  src/components/shared/remote-config-illustration/images/item-3.url.svg
  src/components/shared/remote-config-illustration/images/popup.url.svg
  src/components/shared/remote-config-illustration/images/window.url.svg
  src/components/shared/remote-config-illustration/index.js
  src/components/shared/remote-config-illustration/remote-config-illustration.jsx
  src/components/shared/remote-config-illustration/remote-config-illustration.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): add a missing illustration and delete unused lines of code
  src/components/pages/home/remote-config/remote-config.jsx
  src/components/shared/feature-flags-illustration/images/popup.url.svg
Due: prettier --write, eslint --cache --fix

refactor(components): udpate images in Prices component
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/pages/pricing/content/prices/prices.module.scss
  src/images/pages/pricing/hero/prices/enterprise.jpg
  src/images/pages/pricing/hero/prices/free.jpg
  src/images/pages/pricing/hero/prices/illustration-enterprice.png
  src/images/pages/pricing/hero/prices/illustration-free.png
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

chore: minor changes
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat: fix background image on hero sections
  src/components/lazy-blocks/hero/hero.jsx
  src/components/lazy-blocks/hero/hero.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add illustrations for Options in Pricing
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/options/options.jsx
  src/components/pages/pricing/content/options/options.module.scss
  src/images/pages/pricing/hero/options/illustration-on-premise.jpg
  src/images/pages/pricing/hero/options/illustration-private-cloud.jpg
Due: prettier --write, eslint --cache --fix

refactor(components): update an image in get-started block
  src/components/shared/get-started/get-started.module.scss
  src/images/pages/home/get-started/illustration.png
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat(components): integrate Options in Pricing with WordPress
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/options/options.jsx
  src/components/pages/pricing/content/options/options.module.scss
  src/templates/pricing.jsx
Due: prettier --write, eslint --cache --fix

feat(components): integrate tabs content in Pricing with WordPress
  src/components/pages/pricing/content/content.jsx
  src/templates/pricing.jsx
Due: prettier --write, eslint --cache --fix

fix: images in options
  src/components/pages/home/options/options.jsx
  src/components/pages/home/options/options.module.scss
  src/components/shared/get-started/get-started.jsx
  src/images/pages/home/options/illustration-on-prem.jpeg
  src/images/pages/home/options/illustration-on-prem.png
  src/images/pages/home/options/illustration-private-cloud.jpeg
  src/images/pages/home/options/illustration-private-cloud.png
  src/images/pages/home/options/illustration-saas.jpeg
  src/images/pages/home/options/illustration-saas.png
Due: prettier --write, eslint --cache --fix

fix(styles): update Options and ContactForm styles to match with lastest design
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/content.module.scss
  src/components/pages/pricing/content/options/options.module.scss
  src/components/shared/contact-form/contact-form.module.scss
Due: prettier --write, eslint --cache --fix

chore: update social media preview
  static/images/social-preview.jpg
Due: none

fix(components): add some fixes to lazy-blocks
  src/components/lazy-blocks/cards/cards.jsx
  src/components/lazy-blocks/cards/cards.module.scss
  src/components/lazy-blocks/features/features.jsx
  src/components/lazy-blocks/features/features.module.scss
  src/components/shared/get-started/get-started.jsx
  src/components/shared/heading/heading.module.scss
  src/components/shared/rainbow-text/rainbow-text.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): add some CSS fixes to lazy-block Features
  src/components/lazy-blocks/features/features.module.scss
Due: prettier --write

fix(styles): add small changes for Options in Pricing
  src/components/pages/pricing/content/options/options.module.scss
Due: prettier --write

fix(components): add fixes for the page Home (#24)
  gatsby-config.js
  package-lock.json
  package.json
  src/components/lazy-blocks/features/features.module.scss
  src/components/lazy-blocks/presentation-without-illustration/images/check.svg
  src/components/lazy-blocks/presentation-without-illustration/presentation-without-illustration.module.scss
  src/components/lazy-blocks/presentation/images/check.svg
  src/components/lazy-blocks/presentation/presentation.module.scss
  src/components/pages/home/feature-flags/feature-flags.module.scss
  src/components/pages/home/hero/features/code/code.module.scss
  src/components/pages/home/languages/languages.module.scss
  src/components/pages/home/options/options.jsx
  src/components/pages/home/options/options.module.scss
  src/components/pages/home/platform/platform.module.scss
  src/components/pages/home/remote-config/remote-config.module.scss
  src/components/shared/footer/footer.module.scss
  src/components/shared/get-started/get-started.module.scss
  src/components/shared/header/header.jsx
  src/components/shared/rainbow-text/rainbow-text.jsx
  src/components/shared/rainbow-text/rainbow-text.module.scss
  src/images/logo.inline.svg
  src/images/pages/home/hero/features/state/illustration.jpg
  src/images/pages/home/options/illustration-on-prem.jpeg
  src/images/pages/home/options/illustration-private-cloud.jpeg
  src/images/pages/home/options/illustration-saas.jpeg
  src/images/pages/home/options/on-prem-illustration.jpg
  src/images/pages/home/options/private-cloud-illustration.jpg
  src/images/pages/home/options/saas-illustration.jpg
  src/styles/mixins/content.scss
  src/styles/mixins/images/check.svg
  src/styles/mixins/list-style.scss
Due: prettier --write, eslint --cache --fix

feat(components): add ContactForm states (#23)
  src/components/shared/button/button.jsx
  src/components/shared/button/button.module.scss
  src/components/shared/button/svg/loader.svg
  src/components/shared/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.module.scss
  src/components/shared/input/input.jsx
  src/components/shared/input/input.module.scss
  src/styles/variables.scss
Due: prettier --write, eslint --cache --fix

fix(components): replace illustration in Hero for Home
  src/images/pages/home/hero/features/state/illustration.jpg
Due: none

fix: change id of contact us form
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/options/options.jsx
Due: prettier --write, eslint --cache --fix

feat(components): make images in lazy-block Presentation to behave like Gatsby Image
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): fix illustration positioning in Hero for Home
  src/components/pages/home/hero/features/state/state.module.scss
Due: prettier --write

feat: update illustrations in the block Options
  src/images/pages/home/options/on-prem-illustration.jpg
  src/images/pages/home/options/private-cloud-illustration.jpg
  src/images/pages/home/options/saas-illustration.jpg
Due: none

refactor: styles in the block Options
  src/components/pages/home/options/options.module.scss
Due: prettier --write

fix(components): remove unused prop => theme in the block Options
  src/components/pages/home/options/options.jsx
Due: prettier --write, eslint --cache --fix

chore: add small adjustment
  src/components/pages/home/options/options.module.scss
Due: prettier --write
