Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

chore: sort env var
  api/contact-us.js
Due: prettier --write, eslint --cache --fix

chore: reinstate slack
  src/utils/send-gravity-form-data.js
Due: prettier --write, eslint --cache --fix

chore: remove test code
  src/utils/send-gravity-form-data.js
Due: prettier --write, eslint --cache --fix

feat: add contact form tracking to ga
  gatsby-config.js
  package-lock.json
  package.json
  src/utils/send-gravity-form-data.js
Due: prettier --write, eslint --cache --fix

chore: fix packages
  package-lock.json
  package.json
Due: none

feat: testimonials
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/hero.module.scss
  src/images/pages/home/hero/jared_baribeau.jpg
  src/images/pages/home/hero/nick_quaranto.jpg
  src/images/pages/home/hero/romano_roth.jpg
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

fix: layout
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/hero.module.scss
Due: prettier --write, eslint --cache --fix

fix: font size for quote
  src/components/pages/home/hero/hero.module.scss
Due: prettier --write

feat: better home page padding
  src/components/pages/home/hero/hero.module.scss
Due: prettier --write

feat: multi level nav
  gatsby-node.js
  src/components/shared/header/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

feat: add multilevel nav
  .gitignore
  .husky/commit-msg
  package-lock.json
  src/components/shared/header/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

feat: multilevel row css
  src/components/shared/header/menu/menu.jsx
  src/components/shared/header/menu/menu.module.scss
Due: prettier --write, eslint --cache --fix

feat: multilevel row mobile css
  src/components/shared/header/menu/menu.jsx
  src/components/shared/mobile-menu/mobile-menu.jsx
  src/components/shared/mobile-menu/mobile-menu.module.scss
  src/utils/transform-nav.js
Due: prettier --write, eslint --cache --fix

Add text area height
  .husky/commit-msg
  src/components/shared/input/input.module.scss
Due: prettier --write

Remove commit-msg
  .husky/commit-msg
Due: none

Handle no core items in nav
  src/utils/transform-nav.js
Due: prettier --write, eslint --cache --fix

chore/fix gatsby pain
  src/components/shared/header/menu/menu.jsx
Due: prettier --write, eslint --cache --fix

Fix styles
  src/components/shared/header/menu/menu.module.scss
Due: prettier --write

main
  src/components/shared/header/menu/menu.module.scss
Due: prettier --write

Specify node versio
  package.json
Due: none

Work to get Wordpress running in Dokku
  .dockerignore
  .tool-versions
  Dockerfile
  package.json
Due: none

main
  package-lock.json
  package.json
Due: none

Added soc2 footer
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/footer.module.scss
  src/images/shared/soc2.png
Due: prettier --write, eslint --cache --fix

Better footer formatting
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/footer.module.scss
Due: prettier --write, eslint --cache --fix

Nicer footer background colour
  src/components/shared/footer/footer.module.scss
Due: prettier --write

Action for preview
  .github/workflows/deploy-preview-site.yml
Due: none

Tidied action
  .github/workflows/deploy-preview-site.yml
Due: none

Push force
  .github/workflows/deploy-preview-site.yml
Due: none

Full fetch
  .github/workflows/deploy-preview-site.yml
Due: none

Moved pipedrive to leads
  api/contact-us.js
Due: prettier --write, eslint --cache --fix

Added api lead source
  api/contact-us.js
Due: prettier --write, eslint --cache --fix

Tweak pipedrive lead title
  api/contact-us.js
Due: prettier --write, eslint --cache --fix

Fix typo
  src/components/shared/subscribe/subscribe.jsx
Due: prettier --write, eslint --cache --fix

Fix Pricing link on mobile
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write, eslint --cache --fix

Update vercel.json
  vercel.json
Due: none

Change wildcard pattern
  vercel.json
Due: none

Add gatsby-plugin-no-index
  gatsby-config.js
  package-lock.json
  package.json
  vercel.json
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
