Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat(styles): add styles for paragraph separator
  src/components/pages/podcast/content/content.jsx
  src/components/pages/podcast/content/content.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): fix styles for Audio on Podcast post
  src/components/shared/audio/audio.module.scss
  src/components/shared/audio/bar/bar.module.scss
Due: prettier --write

feat: update podcast card
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): images on the pages in content
  src/styles/mixins/content.scss
Due: prettier --write

fix(components): small fix in About for Podcast post
  src/components/pages/podcast/about/about.jsx
Due: prettier --write, eslint --cache --fix

fix: change gatsby-image to image
  package-lock.json
  src/components/pages/podcast/content/content.jsx
  src/components/pages/podcast/hero/hero.jsx
  src/components/pages/podcast/hero/hero.module.scss
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

fix: remove volume control
  src/components/shared/audio/audio.jsx
  src/components/shared/audio/audio.module.scss
Due: prettier --write, eslint --cache --fix

fix: change number of podcasts per page
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

feat(styles): add styles for urls in About
  src/components/pages/podcast/about/about.module.scss
Due: prettier --write

fix: avatar long badge
  src/components/pages/podcast/avatar/avatar.module.scss
Due: prettier --write

chore: remove redirects
  static/_redirects
Due: none

fix(styles): remove unused line-heights
  src/components/pages/blog-post/content/content.module.scss
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/components/pages/podcasts/hero/hero.module.scss
  src/components/pages/podcasts/podcasts-list/item/item.module.scss
  src/components/shared/audio/bar/bar.module.scss
  src/components/shared/featured-post/featured-post.module.scss
  src/components/shared/info/info.module.scss
  src/components/shared/pagination/pagination.module.scss
  src/components/shared/subscribe/subscribe.module.scss
  src/styles/mixins/content.scss
Due: prettier --write

fix: css after merge
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/content.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): add additional styles for content
  src/components/pages/podcast/about/about.module.scss
  src/components/pages/podcast/content/content.jsx
  src/styles/mixins/content.scss
Due: prettier --write, eslint --cache --fix

refactor: rename podcast to podcast-post
  src/components/pages/podcast-post/about/about.jsx
  src/components/pages/podcast-post/about/about.module.scss
  src/components/pages/podcast-post/about/index.js
  src/components/pages/podcast-post/avatar/avatar.jsx
  src/components/pages/podcast-post/avatar/avatar.module.scss
  src/components/pages/podcast-post/avatar/index.js
  src/components/pages/podcast-post/content/content.jsx
  src/components/pages/podcast-post/content/content.module.scss
  src/components/pages/podcast-post/content/index.js
  src/components/pages/podcast-post/hero/hero.jsx
  src/components/pages/podcast-post/hero/hero.module.scss
  src/components/pages/podcast-post/hero/images/left-background.svg
  src/components/pages/podcast-post/hero/images/right-background.svg
  src/components/pages/podcast-post/hero/index.js
  src/components/pages/podcast-post/relative-links/images/url.inline.svg
  src/components/pages/podcast-post/relative-links/index.js
  src/components/pages/podcast-post/relative-links/relative-links.jsx
  src/components/pages/podcast-post/relative-links/relative-links.module.scss
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

refactor(components): use author's avatar as host's photo
  src/components/pages/podcast-post/avatar/avatar.jsx
  src/components/pages/podcast-post/content/content.jsx
  src/components/pages/podcast-post/hero/hero.jsx
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

chore(components): minor changes
  src/components/pages/podcast-post/avatar/avatar.jsx
Due: prettier --write, eslint --cache --fix

refactor(styles): change max-width of badge in Avatar component
  src/components/pages/podcast-post/avatar/avatar.module.scss
  src/components/pages/podcast-post/hero/hero.module.scss
Due: prettier --write

chore: delete unused images
  src/images/pages/podcast/avatar/photo.jpg
  src/images/pages/podcast/hero/left-background.jpg
  src/images/pages/podcast/hero/right-background.jpg
Due: none

feat(components): add Prop-Types to components
  src/components/pages/podcast-post/content/content.jsx
  src/components/pages/podcast-post/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

fix(styles): small adjustments in the Blog page (#40)
  package-lock.json
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/images/pages/blog/podcast-card/player-illustration.jpg
  src/images/pages/blog/podcast-card/player-illustration.png
  src/styles/mixins/content.scss
Due: prettier --write, eslint --cache --fix

fix(components): use Info component in blog-post
  src/components/pages/blog-post/content/content.jsx
  src/components/pages/blog-post/content/content.module.scss
  src/components/pages/podcast-post/content/content.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): add fixes in Hero component
  src/components/pages/podcast-post/hero/hero.module.scss
Due: prettier --write

fix: add a featured blog in podcasts page to exception for creating url
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

refactor(components): set content dangerously in Podcast-page
  src/components/pages/podcast-post/content/content.jsx
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

chore: minor changes
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

feat: add Seo for PodcastPost (#41)
  src/layouts/main/main.jsx
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

chore: add redirect
  static/_redirects
Due: none

feat: add redirect
  static/_redirects
Due: none

fix(styles): on the page Blog (#42)
  gatsby-node.js
  package-lock.json
  src/components/pages/blog/blog-posts-list/item/item.jsx
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/shared/featured-post/featured-post.jsx
  src/components/shared/featured-post/featured-post.module.scss
  src/images/pages/blog/featured-post/book-illustration.jpg
  src/images/pages/blog/featured-post/book-illustration.png
Due: prettier --write, eslint --cache --fix

refactor(styles): update Hero section in Podcast-post (#43)
  src/components/pages/podcast-post/hero/hero.module.scss
  src/components/pages/podcasts/hero/hero.module.scss
Due: prettier --write

feat(lazy-blocks): add the prop buttonText for the block ContactForm (#45)
  src/components/shared/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

feat(styles): add styles for avatar when photo is not present (#44)
  src/components/pages/podcast-post/about/about.module.scss
  src/components/pages/podcast-post/avatar/avatar.jsx
  src/components/pages/podcast-post/avatar/avatar.module.scss
  src/components/pages/podcast-post/content/content.jsx
  src/components/pages/podcast-post/hero/hero.jsx
  src/components/pages/podcast-post/hero/hero.module.scss
  src/images/pages/podcast-post/avatar/logo.png
  src/templates/podcast-post.jsx
Due: prettier --write, eslint --cache --fix

fix: fix a hover effect in cards component (#46)
  src/components/lazy-blocks/cards/cards.jsx
  src/components/lazy-blocks/cards/cards.module.scss
Due: prettier --write, eslint --cache --fix

chore: change number of podcasts on Podcasts page
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

fix(components): fix styles in Podcasts (#47)
  src/components/pages/podcasts/hero/hero.jsx
  src/components/pages/podcasts/hero/hero.module.scss
  src/components/pages/podcasts/hero/icons/headphones.inline.svg
  src/components/pages/podcasts/hero/icons/image-1.inline.svg
  src/components/pages/podcasts/hero/icons/image-2.inline.svg
  src/components/pages/podcasts/hero/icons/microphone.inline.svg
  src/components/pages/podcasts/hero/images/images.jsx
  src/components/pages/podcasts/hero/images/images.module.scss
  src/components/pages/podcasts/hero/images/index.js
  src/components/pages/podcasts/podcasts-list/item/item.module.scss
  src/images/pages/podcasts/hero/image-3.png
  src/images/pages/podcasts/hero/podcast-image.jpg
  src/templates/podcasts.jsx
Due: prettier --write, eslint --cache --fix

fix(styles): fix hero image border radius (#48)
  src/components/pages/home/hero/features/state/state.module.scss
Due: prettier --write

fix(components): refactor and update Audio player (#49)
  package-lock.json
  package.json
  src/components/pages/podcasts/podcasts-list/item/item.jsx
  src/components/pages/podcasts/podcasts-list/podcasts-list.jsx
  src/components/shared/audio/audio.jsx
  src/components/shared/audio/audio.module.scss
  src/components/shared/audio/bar/bar.jsx
  src/components/shared/audio/bar/bar.module.scss
  src/components/shared/audio/bar/index.js
  src/hooks/.gitkeep
  src/hooks/use-audio.js
  src/icons/unmute.inline.svg
  src/icons/volume.inline.svg
Due: prettier --write, eslint --cache --fix

fix(components): pause and play when switching between podcasts
  src/components/pages/podcasts/podcasts-list/item/item.jsx
  src/components/pages/podcasts/podcasts-list/podcasts-list.jsx
  src/components/shared/audio/audio.jsx
Due: prettier --write, eslint --cache --fix

refactor(components): add hook use-audio for block Audio
  src/components/shared/audio/audio.jsx
  src/components/shared/audio/use-audio.js
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
