Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

.lintstagedrc:

{
  "*.{js,jsx,html,css,scss,md}": "prettier --write",
  "*.{js,jsx}": "eslint --cache --fix",
  "*.{md}": "markdownlint --fix --ignore-path .gitignore"
}

fix: fix image path in createMetaImagePath function
  src/utils/create-meta-image-path.js
Due: prettier --write, eslint --cache --fix

feat(components): set default social-preveiw image when gif is used as featured image in blog-post
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

feat(components): add a feature to use gif for social-preview
  src/components/shared/seo/seo.jsx
  src/layouts/main/main.jsx
  src/utils/create-meta-image-path.js
Due: prettier --write, eslint --cache --fix

fix(components): show preview image on blog-post card for any image extension (#50)
  src/components/pages/blog/blog-posts-list/item/item.jsx
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

feat: fix aspect ratio of images used for social-preview (#51)
  src/layouts/main/main.jsx
Due: prettier --write, eslint --cache --fix

chore: update gatsby-plugin-svgr-svgo to latest version
  package-lock.json
  package.json
Due: none

chore: move fonts to src dir
  src/fonts/bitter-bold.woff
  src/fonts/bitter-bold.woff2
  src/fonts/bitter-extra-bold.woff
  src/fonts/bitter-extra-bold.woff2
  src/fonts/open-sans-bold.woff
  src/fonts/open-sans-bold.woff2
  src/fonts/open-sans-italic.woff
  src/fonts/open-sans-italic.woff2
  src/fonts/open-sans-regular.woff
  src/fonts/open-sans-regular.woff2
  src/fonts/open-sans-semi-bold-italic.woff
  src/fonts/open-sans-semi-bold-italic.woff2
  src/fonts/open-sans-semi-bold.woff
  src/fonts/open-sans-semi-bold.woff2
Due: none

fix: change the fonts paths
  src/styles/fonts.scss
Due: prettier --write

chore: install gatsby-plugin-netlify
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix: add url for buttons in MobileMenu
  gatsby-node.js
  src/components/shared/mobile-menu/mobile-menu.jsx
Due: prettier --write, eslint --cache --fix

chore: modified contact us form to ask how we can help
  src/components/shared/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

chore: unregister service worker
  gatsby-browser.js
Due: prettier --write, eslint --cache --fix

chore: added Google Analytics plugin
  README.md
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix(components): make RelativeLinks not required
  src/components/pages/podcast-post/content/content.jsx
  src/components/pages/podcast-post/relative-links/relative-links.jsx
Due: prettier --write, eslint --cache --fix

chore: update gatsby-source-wordpress to latest version
  package-lock.json
  package.json
Due: none

chore: override html lang
  src/components/shared/seo/seo.jsx
Due: prettier --write, eslint --cache --fix

Redirect SLA
  static/_redirects
Due: none

chore: added redirects
  static/_redirects
Due: none

feat: add tooltip for fearures in Prices component
  package-lock.json
  package.json
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/pages/pricing/content/prices/prices.module.scss
  src/components/shared/tooltip/index.js
  src/components/shared/tooltip/tooltip.jsx
  src/components/shared/tooltip/tooltip.module.scss
  src/icons/info.inline.svg
  src/templates/pricing.jsx
Due: prettier --write, eslint --cache --fix

fix: add margin top for tooltip icon
  src/components/shared/tooltip/tooltip.module.scss
Due: prettier --write

fix: add small change
  src/components/shared/tooltip/tooltip.module.scss
Due: prettier --write

fix: add margin top to svg in Price
  src/components/pages/pricing/content/prices/prices.module.scss
  src/components/shared/tooltip/tooltip.module.scss
Due: prettier --write

chore: redirects
  static/_redirects
Due: none

chore: new redirects
  vercel.json
Due: none

chore: more redirects
  vercel.json
Due: none

chore: redirects
  vercel.json
Due: none

perf: canonical links
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

perf: redirects
  static/_headers
  static/_redirects
  vercel.json
Due: none

feat: redirect
  vercel.json
Due: none

feat: redirects
  vercel.json
Due: none

chore: update default color in gatsby-plugin-manifest
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

feat: added heap analytics
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

feat: rss fead
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix: rss urls
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

fix: remove background, theme color from manifest
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

feat(lazy-blocks): update the Card component
  src/components/lazy-blocks/cards/cards.jsx
  src/components/lazy-blocks/cards/cards.module.scss
Due: prettier --write, eslint --cache --fix

feat(lazy-blocks): update the QuotationCarousel component
  src/components/lazy-blocks/quotation-carousel/quotation-carousel.jsx
Due: prettier --write, eslint --cache --fix

feat(lazy-blocks): update the FAQ component
  src/components/pages/pricing/content/content.jsx
  src/components/shared/faq/faq.jsx
  src/components/shared/faq/faq.module.scss
  src/components/shared/faq/index.js
  src/components/shared/faq/item/images/arrow.inline.svg
  src/components/shared/faq/item/index.js
  src/components/shared/faq/item/item.jsx
  src/components/shared/faq/item/item.module.scss
Due: prettier --write, eslint --cache --fix
