Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

fix(styles): update text color in Prices for Pricing page
  src/components/pages/pricing/content/prices/prices.module.scss
Due: prettier --write

fix(styles): unset width for images in Prices for Pricing page
  src/components/pages/pricing/content/prices/prices.module.scss
Due: prettier --write

fix(styles): title color in the tabs on the Pricing page
  src/components/pages/pricing/content/content.jsx
Due: prettier --write, eslint --cache --fix

fix(styles): fix position center for icon in the block FAQ
  src/components/pages/pricing/content/faq/item/item.module.scss
Due: prettier --write

fix(styles): center images in Prices for Pricng page
  src/components/pages/pricing/content/content.module.scss
  src/components/pages/pricing/content/prices/prices.module.scss
Due: prettier --write

chore: add small adjustment
  src/components/shared/get-started/get-started.module.scss
Due: prettier --write

feat: poc gatsby-image approach for presentation block
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): add some fixes for lazy-blocks
  src/components/lazy-blocks/cards/cards.jsx
  src/components/lazy-blocks/cards/cards.module.scss
  src/components/lazy-blocks/presentation/presentation.jsx
  src/components/lazy-blocks/presentation/presentation.module.scss
  src/components/shared/get-started/get-started.jsx
  src/components/shared/get-started/get-started.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): indents in the block ContactForm
  src/components/pages/pricing/content/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): add some fixes
  src/components/pages/pricing/content/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.jsx
  src/components/shared/input/input.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): fix sm-down styles in Options for Pricing page (#26)
  src/components/pages/pricing/content/options/options.module.scss
Due: prettier --write

fix(styles): change padding top of GetStarted
  src/components/pages/home/options/options.module.scss
  src/components/shared/get-started/get-started.module.scss
Due: prettier --write

fix(styles): add margin-bottom in Options for Pricing page
  src/components/pages/home/options/options.module.scss
Due: prettier --write

fix(styles): add margin-bottom in FAQ for Pricing page
  src/components/pages/pricing/content/faq/faq.module.scss
Due: prettier --write

fix(styles): change withPaddings to withIndents, padding-bottom to margin-bottom in GetStarted
  src/components/pages/pricing/content/content.jsx
  src/components/shared/get-started/get-started.jsx
  src/components/shared/get-started/get-started.module.scss
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat: add google tag manager
  gatsby-config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

fix(components): add fixes for the page Pricing
  src/components/pages/pricing/content/prices/images/most-popular.inline.svg
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/pages/pricing/content/prices/prices.module.scss
  src/styles/fonts.scss
  src/styles/variables.scss
  src/templates/pricing.jsx
  static/fonts/caveat-bold.woff
  static/fonts/caveat-bold.woff2
Due: prettier --write, eslint --cache --fix

fix(components): improve illustration quality and fix illustration width in lazy-block Hero
  src/components/lazy-blocks/hero/hero.jsx
Due: prettier --write, eslint --cache --fix

feat: add proxy of the old website
  static/_redirects
Due: none

chore: add redirects
  static/_redirects
Due: none

fix: redirects
  static/_redirects
Due: none

fix(components): add a fix for lazy-block ContactForm
  src/components/shared/contact-form/contact-form.jsx
  src/components/shared/contact-form/contact-form.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add FeaturedPost to Blog & integrate with WP
  gatsby-node.js
  package-lock.json
  package.json
  src/components/pages/blog/blog-posts-list/blog-posts-list.jsx
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
  src/components/pages/blog/blog-posts-list/index.js
  src/components/pages/blog/featured-post/featured-post.jsx
  src/components/pages/blog/featured-post/featured-post.module.scss
  src/components/pages/blog/featured-post/images/star.inline.svg
  src/components/pages/blog/featured-post/index.js
  src/images/pages/blog/featured-post/book-illustration.jpg
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

feat(components): add Item to BlogPostsList for Blog page
  src/components/pages/blog/blog-posts-list/item/index.js
  src/components/pages/blog/blog-posts-list/item/item.jsx
  src/components/pages/blog/blog-posts-list/item/item.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add PodcastCard for Blog page
  src/components/pages/blog/podcast-card/images/play.inline.svg
  src/components/pages/blog/podcast-card/images/sound-wave.inline.svg
  src/components/pages/blog/podcast-card/index.js
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/images/pages/blog/podcast-card/player-illustration.jpg
Due: prettier --write, eslint --cache --fix

fix(styles): adjust styles in PodcastCard for Blog page
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
Due: prettier --write, eslint --cache --fix

fix(components): add various CSS fixes (#28)
  package-lock.json
  src/components/lazy-blocks/hero/hero.module.scss
  src/components/lazy-blocks/logos/logos.module.scss
  src/components/pages/home/hero/features/state/state.jsx
  src/components/pages/home/hero/features/state/state.module.scss
  src/components/pages/home/hero/hero.module.scss
  src/components/pages/home/options/images/shape-comparison-1.url.svg
  src/components/pages/home/options/images/shape-comparison-2.url.svg
  src/components/pages/home/options/options.module.scss
  src/components/pages/home/platform/platform.module.scss
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/content.module.scss
  src/components/pages/pricing/content/options/options.jsx
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/pages/pricing/content/prices/prices.module.scss
  src/components/shared/feature-flags-illustration/feature-flags-illustration.module.scss
  src/components/shared/footer/footer.jsx
  src/components/shared/footer/footer.module.scss
  src/components/shared/footer/menu-item/menu-item.jsx
  src/components/shared/footer/menu-item/menu-item.module.scss
  src/components/shared/get-started/get-started.module.scss
  src/components/shared/header/menu/menu.jsx
  src/components/shared/mobile-menu/mobile-menu.module.scss
  src/components/shared/remote-config-illustration/remote-config-illustration.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add Pagination for Blog page
  src/components/pages/blog/pagination/images/arrow.inline.svg
  src/components/pages/blog/pagination/index.js
  src/components/pages/blog/pagination/pagination.jsx
  src/components/pages/blog/pagination/pagination.module.scss
Due: prettier --write, eslint --cache --fix

feat(styles): add margin-bottom for BlogPostsList
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
Due: prettier --write

feat(components): integrate Item of BlogPostsList with WP
  src/components/pages/blog/blog-posts-list/blog-posts-list.jsx
  src/components/pages/blog/blog-posts-list/item/item.jsx
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

feat(styles): add styles for Item with featured image
  src/components/pages/blog/blog-posts-list/item/item.module.scss
Due: prettier --write

fix(components): small adjustment in FeaturedPost
  src/components/pages/blog/featured-post/featured-post.jsx
Due: prettier --write, eslint --cache --fix

feat(styles): add margin-bottom for PodcastCard
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add Subscribe to Blog page
  src/components/shared/subscribe/index.js
  src/components/shared/subscribe/subscribe.jsx
  src/components/shared/subscribe/subscribe.module.scss
  src/images/shared/subscribe/subscribe-illustration.jpg
  src/templates/blog.jsx
Due: prettier --write, eslint --cache --fix

feat(styles): add responsible styles fullhd-down for Blog page
  src/components/pages/blog/blog-posts-list/blog-posts-list.jsx
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/pages/blog/featured-post/featured-post.module.scss
  src/components/pages/blog/pagination/pagination.module.scss
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/components/shared/subscribe/subscribe.module.scss
Due: prettier --write, eslint --cache --fix

feat(styles): add respinsive styles xl-down for Blog page
  src/components/pages/blog/blog-posts-list/blog-posts-list.jsx
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
  src/components/pages/blog/blog-posts-list/item/item.jsx
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/pages/blog/featured-post/featured-post.module.scss
  src/components/pages/blog/pagination/pagination.module.scss
  src/components/pages/blog/podcast-card/podcast-card.module.scss
Due: prettier --write, eslint --cache --fix

feat(styles): add responsive styles xl-down for Subscribe
  src/components/shared/subscribe/subscribe.module.scss
Due: prettier --write

feat(styles): add responsive styles lg-down for Blog page
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/pages/blog/featured-post/featured-post.jsx
  src/components/pages/blog/featured-post/featured-post.module.scss
  src/components/pages/blog/podcast-card/podcast-card.jsx
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/components/shared/subscribe/subscribe.jsx
  src/components/shared/subscribe/subscribe.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): add responsive styles md-down for Blog page
  src/components/pages/blog/blog-posts-list/blog-posts-list.module.scss
  src/components/pages/blog/blog-posts-list/item/item.module.scss
  src/components/pages/blog/featured-post/featured-post.module.scss
  src/components/pages/blog/pagination/pagination.module.scss
  src/components/pages/blog/podcast-card/podcast-card.module.scss
  src/components/shared/subscribe/subscribe.module.scss
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
