Repository Flagsmith/flagsmith-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, markdownlint --fix --ignore-path .gitignore

feat(components): integrate Platform with WordPress
  src/components/pages/home/platform/platform.jsx
  src/components/shared/header/header.jsx
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat(components): integrate Languages with WordPress
  src/components/pages/home/languages/languages.jsx
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat(components): integrate Options with WordPress
  src/components/pages/home/options/options.jsx
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat: add sharedBlocks for pageContext
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

feat(components): integrate GetStarted with WordPress
  src/components/shared/get-started/get-started.jsx
  src/components/shared/get-started/get-started.module.scss
  src/components/shared/get-started/index.js
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

chore: add small adjustment
  gatsby-node.js
  src/components/shared/get-started/get-started.jsx
Due: prettier --write, eslint --cache --fix

feat: add shared data for header in the pageContext
  gatsby-node.js
  src/components/shared/header/header.jsx
Due: prettier --write, eslint --cache --fix

feat: add code data for block Hero
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/hero.jsx
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat(components): integrate Logos in Hero with WordPress
  src/components/pages/home/hero/hero.jsx
  src/components/pages/home/hero/logos/images/aer-lingus.url.svg
  src/components/pages/home/hero/logos/images/amway.url.svg
  src/components/pages/home/hero/logos/images/axis.url.svg
  src/components/pages/home/hero/logos/images/capita.url.svg
  src/components/pages/home/hero/logos/images/cognizant.url.svg
  src/components/pages/home/hero/logos/images/ft.url.svg
  src/components/pages/home/hero/logos/images/nike.url.svg
  src/components/pages/home/hero/logos/images/starbucks.url.svg
  src/components/pages/home/hero/logos/logos.jsx
  src/templates/home.jsx
Due: prettier --write, eslint --cache --fix

feat: replace favicon
  src/images/favicon.png
Due: none

fix(styles): animation in blocks RemoteConfig and FeatureFlags
  src/components/pages/home/feature-flags/feature-flags.jsx
  src/components/pages/home/feature-flags/feature-flags.module.scss
  src/components/pages/home/remote-config/remote-config.jsx
  src/components/pages/home/remote-config/remote-config.module.scss
Due: prettier --write, eslint --cache --fix

chore: update dependencies
  package-lock.json
Due: none

fix(styles): responsive version the Home page (#9)
  package.json
  src/components/pages/home/configure-features/configure-features.module.scss
  src/components/pages/home/hero/features/code/code.jsx
  src/components/pages/home/hero/features/code/code.module.scss
  src/components/pages/home/hero/features/code/index.js
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/features.module.scss
  src/components/pages/home/hero/features/options/images/logo.inline.svg
  src/components/pages/home/hero/features/options/index.js
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
  src/components/pages/home/hero/features/state/state.jsx
  src/components/pages/home/hero/features/state/state.module.scss
  src/components/pages/home/hero/hero.module.scss
  src/components/pages/home/languages/languages.module.scss
  src/components/pages/home/options/options.module.scss
Due: prettier --write, eslint --cache --fix

chore: add small adjustment
  src/components/pages/home/languages/languages.jsx
  src/components/shared/header/header.module.scss
Due: prettier --write, eslint --cache --fix

feat: update animation on the intro section
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): add mixin no-highlight-on-tap
  src/components/pages/home/hero/features/options/options.module.scss
  src/components/pages/home/languages/languages.module.scss
  src/styles/mixins.scss
  src/styles/mixins/no-highlight-on-tap.scss
Due: prettier --write

fix(styles): overflow auto for wrapper code in Hero
  src/components/pages/home/hero/features/code/code.module.scss
Due: prettier --write

fix: typo in hero section
  src/components/pages/home/hero/features/options/options.jsx
Due: prettier --write, eslint --cache --fix

feat(styles): update animation for switch button
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): indents for code wrapper
  src/components/pages/home/hero/features/code/code.module.scss
  src/components/pages/home/languages/languages.module.scss
Due: prettier --write

feat(styles): add animation for links with arrow
  src/components/pages/home/options/options.module.scss
  src/styles/mixins/with-link.scss
Due: prettier --write

fix(styles): icon arrow for links
  src/components/pages/home/options/options.module.scss
  src/icons/arrow-right.inline.svg
  src/styles/mixins/with-link.scss
Due: prettier --write

chore: add small adjustment
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

fix(styles): animation border-gradient linear => easy
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write

fix(components): change the order of options
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

feat: update image social preview
  static/images/social-preview.jpg
Due: none

test: delay animation border gradient
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write

test: delay animation border gradient v2
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write

fix(styles): animation links with arrow
  src/components/pages/home/options/options.module.scss
  src/styles/mixins/with-link.scss
Due: prettier --write

chore: add small adjustment
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

feat(components): animation completed after parameters are activated
  src/components/pages/home/hero/features/features.jsx
Due: prettier --write, eslint --cache --fix

test(components): animation completed after parameters are activated
  src/components/pages/home/hero/features/features.jsx
Due: prettier --write, eslint --cache --fix

fix(styles): animation links with arrow v2
  src/components/pages/home/options/options.module.scss
  src/styles/mixins/with-link.scss
Due: prettier --write

refactor(components): animation border gradient
  src/components/pages/home/hero/features/features.jsx
  src/components/pages/home/hero/features/options/options.jsx
  src/components/pages/home/hero/features/options/options.module.scss
Due: prettier --write, eslint --cache --fix

optimization: stop animation border with gradient
  src/components/pages/home/hero/features/options/options.jsx
Due: prettier --write, eslint --cache --fix

refactor(styles): links with arrow
  src/components/pages/home/feature-flags/feature-flags.jsx
  src/components/pages/home/languages/languages.jsx
  src/components/pages/home/remote-config/remote-config.jsx
  src/components/shared/footer/footer.jsx
  src/components/shared/link/link.jsx
  src/components/shared/link/link.module.scss
  src/styles/mixins/with-link.scss
Due: prettier --write, eslint --cache --fix

feat(components): update design on the Pricing page
  src/components/pages/pricing/content/contact-form/contact-form.jsx
  src/components/pages/pricing/content/contact-form/contact-form.module.scss
  src/components/pages/pricing/content/contact-form/index.js
  src/components/pages/pricing/content/content.jsx
  src/components/pages/pricing/content/content.module.scss
  src/components/pages/pricing/content/faq/faq.jsx
  src/components/pages/pricing/content/faq/faq.module.scss
  src/components/pages/pricing/content/faq/index.js
  src/components/pages/pricing/content/faq/item/images/arrow.inline.svg
  src/components/pages/pricing/content/faq/item/index.js
  src/components/pages/pricing/content/faq/item/item.jsx
  src/components/pages/pricing/content/faq/item/item.module.scss
  src/components/pages/pricing/content/images/flag.svg
  src/components/pages/pricing/content/images/icon-cloud.inline.svg
  src/components/pages/pricing/content/images/icon-on-prem.inline.svg
  src/components/pages/pricing/content/images/shape-1.svg
  src/components/pages/pricing/content/images/shape-2.svg
  src/components/pages/pricing/content/index.js
  src/components/pages/pricing/content/options/images/check.inline.svg
  src/components/pages/pricing/content/options/index.js
  src/components/pages/pricing/content/options/options.jsx
  src/components/pages/pricing/content/options/options.module.scss
  src/components/pages/pricing/content/prices/images/check.inline.svg
  src/components/pages/pricing/content/prices/images/uncheck.inline.svg
  src/components/pages/pricing/content/prices/index.js
  src/components/pages/pricing/content/prices/prices.jsx
  src/components/pages/pricing/content/prices/prices.module.scss
  src/components/pages/pricing/hero/hero.jsx
  src/components/pages/pricing/hero/index.js
  src/templates/pricing.jsx
Due: prettier --write, eslint --cache --fix

chore: add small adjustment
  src/components/pages/pricing/content/contact-form/contact-form.jsx
Due: prettier --write, eslint --cache --fix

fix: update images in Options and Platform
  src/components/pages/home/options/options.jsx
  src/components/pages/home/options/options.module.scss
  src/components/pages/home/platform/platform.jsx
  src/components/pages/home/platform/platform.module.scss
  src/images/pages/home/options/illustration-on-prem.png
  src/images/pages/home/options/illustration-private-cloud.png
  src/images/pages/home/options/illustration-saas.png
  src/images/pages/home/platform/illustration.png
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,html,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx}
  markdownlint --fix --ignore-path .gitignore: any of: *.{md}
